<%#= form_for :session, url: session_path do |form| %>
<!--  <div class="text-field">-->
    <%#= form.label :email %>
    <%#= form.text_field :email, type: 'email' %>
<!--  </div>-->

<!--  <div class="password-field">-->
    <%#= form.label :password %>
    <%#= form.password_field :password %>
<!--  </div>-->

<!--  <div class="submit-field">-->
    <%#= form.submit %>
<!--  </div>-->


<%# end %>


<div class="section">
  <%= simple_form_for @user do |f| %>
    <div class="text-field">
      <div class="control">
        <%= f.input :email, input_html: { class: 'input' }, wrapper: false, label_html: {class: 'label'} %>
      </div>
    </div>

    <div class="password-field">
      <div class="control">
        <%= f.input :password, input_html: { class: 'input' }, wrapper: false, label_html: {class: 'label'} %>
      </div>
    </div>
    <br>


    <br>
    <%= f.button :submit, class: "button is-primary" %>

    <br>

    <div class="other-links">
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_in"), sign_in_path %>
      <% end %>
    </div>
  <% end %>
</div>
